  <div class="list card">

  <div class="item item-avatar">
  <h2>
    <div class="station-red-marker"><i class="icon ion-android-bicycle"></i></div>
    {{station.name}}
  </h2>
  </div>

  <div class="item item-body">
  <ul class="details-numbers">
    <li>
      <h3>Vélos</h3>
      <div class="details-qt">5</div>
      <div class="details-velo-bar"></div>
    </li>
    <li>
      <h3>Places Libres</h3>
      <div class="details-qt">15</div>
      <div class="details-station-bar"></div>
    </li>
  </ul>

  <button class="button button-block button-assertive">
    Itineraire
  </button>

  <h2>Informations</h2>
  <p>Rue de l'Algerie</p>
  <div id="details-map" style="height:250px; width:100%; margin:0 0 40px"></div>
  </div>
  </div>