
<div style="margin-bottom: 20px;">

<div class="graph-display" ng-controller="PerformanceCtrl" >
    <canvas id="bar" class="chart chart-line" data="ocw.data" labels="ocw.labels" colours="ocw.colours"></canvas> 
</div>


</div>
<ion-list >
  <div class="listPerf">
      <div ng-repeat="perf in perfs">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(perf)"
                  ng-class="{active: isGroupShown(perf)}">
            <i class="icon" ng-class="isGroupShown(perf) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
             {{perf.datePerf | date:'dd MM yyyy'}} : de {{perf.stationDepart}} à {{perf.stationArrivee}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(perf)">
            <span class="input-label">Trajet de {{perf.dateDepart}} à {{perf.dateArrivee}}</span>
            <span class="input-label">Durée :  {{perf.duree}}</span>
            <span class="input-label">Vitesse :  {{perf.vitesse}}</span>
        </ion-item>
      </div>
  </div>
</ion-list>
