<div class="row">
    <div class="col">
            <span class="input-label">Départ : </span>
    </div>
    <div class="col col-75">
        <label class="item item-input ">
            <input type="text" ng-model="locations.from.name" placeholder="Départ">
        </label>
    </div>
</div>

<div class="row">
    <div class="col" style="margin-left:5%">
        <h3><a href="" ng-click="reverseLocation()"><i class="ion-arrow-swap icon-reverse-custom"></i></a></h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <span class="input-label">Arrivée : </span>
    </div>

    <div class="col col-75">
        <label class="item item-input ">
            <input ng-model="locations.dest.name" type="text" placeholder="Arrivée">
        </label>
    </div>
</div>


<div> <!-- Necessaire ?? -->
    <div class="tabs">
        <a class="tab-item">
            Normal
        </a>
        <a class="tab-item">
            Sportif
        </a>
    </div>
</div>

<div>
    <button class="button icon-left ion-search button-assertive" ng-click="findRoadmap()">
        Rechercher
    </button>
</div>