<div class="row">
    <div class="col">
            <span class="input-label">Départ : </span>
    </div>
    <div class="col col-75">
        <label class="item item-input ">
            <input type="text" ng-model="locations.from.name" placeholder="Départ">
        </label>
    </div>
    <!-- <div class="col"></div> -->
</div>

<div class="row">
    <div class="col" style="margin-left:5%">
        <h3><a href="" ng-click="reverseLocation()"><i class="ion-arrow-swap icon-reverse-custom"></i></a></h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <span class="input-label">Arrivée : </span>
    </div>

    <div class="col col-75">
        <label class="item item-input ">
            <input ng-model="locations.dest.name" type="text" placeholder="Arrivée">
        </label>
    </div>
   <!-- <div class="col"></div> -->
</div>

        <!-- TODO : ADAPTER EN FONCTION DU CHOIX DE CALCUL D'ITINERAIRE -->
<div class="list " style="text-align: center; width: 50%; margin-left: 26%; margin-top: 35px">
    <label class="item item-radio assertive">
        <input type="radio" name="roadmapSelection" ng-model="roadmapType" value="normal">
        <div class="item-content">
            Normal
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio assertive">
        <input type="radio" name="roadmapSelection" ng-model="roadmapType" value="sportif">
        <div class="item-content">
            Sportif
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>

<div style="text-align: center; width: 50%; margin-left: 25%; margin-top: 30px">
    <button class="button icon-left ion-eye button-assertive" ng-click="findRoadmap()">
        Trouver
    </button>
</div>