/*---------------------- HOME PAGE ------------------------------------*/

.station-red-marker, .station-grey-marker{
	width:35px;
	height: 35px;
	font-size: 28px;
	text-align: center;
	background: #EF473A;
	border-radius: 100px 100px 0 100px;
	color:#fff;
	line-height: 34px;
	display: inline-block;
}

.station-red-marker {
	background: #EF473A;
}

.station-grey-marker {
	background: #999;
}

.av-bikes-div, .av-stands-div {
	font-size: 13px;
	background: #666;
	display: inline-block;
	padding:0 0 0 5px;
	color:#fff;
	width: 50%;
}

.av-bikes-div {
	background: #EF473A;
}

.me-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;

  border: 9px solid #5AA4EA;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 0px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.me-pulse {
	background: rgba(0,0,0,0.2);
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 10px 0px 0px 8px;
	transform: rotateX(55deg);
	z-index: -2;
}
.me-pulse:after {
	content: "";
	border-radius: 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	margin: -13px 0 0 -13px;
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
	opacity: 0.0;
	box-shadow: 0 0 1px 2px #89849b;
	animation-delay: 1.1s;
}

@keyframes pulsate {
	0% {
	    transform: scale(0.1, 0.1);
	    opacity: 0.0;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.tabs {
	padding-top:0px;
}

/*---------------------- DETAILS PAGE ------------------------------------*/
.details-numbers {
	width:100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.details-numbers li {
	text-align: center;
	flex: 1 1;
	position: relative;
}


.details-numbers h3 {
	font-size:3vw;
}

.details-numbers h3 .icon {
	font-size: 6vw;
}

.details-qt {
	font-size: 20vw;
	line-height: 20vw;
}

.details-velo-bar, .details-station-bar {
	position:absolute;
	width:2vw;
	height: 50%;
}

.details-velo-bar {
	background: #EF473A;
	right: -1vw;
	bottom: 0;
}

.details-station-bar {
	background:green;
	left:-1vw;
	top:0;
}

/*---------------------- FAVORIS PAGE ------------------------------------*/
/*************** Container *********************/

.container, .container2 {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px -10px 0px;
    position: relative;
	height: 40px;
}

.container #left {
	display: inline-block;
	position: absolute;
	left: 50px;
	height: 30px;
	width: 50%;
}
.container2 #left {
	display: inline-block;
	position: absolute;
	left: 0px;
	height: 30px;
}

.container #right {
	display: inline-block;
	position: absolute;
	right: 15px;
	width: 30%;
}

.container2 #right {
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 30%;
}

.container #rLeft {
	display: inline-block;
	text-align: left;
	margin: 0px 10px 0px 0px;
}

.container2 #rLeftBike {
	display: inline-block;
	text-align: left;
	margin: 0px 10px 0px 0px;
}

.container #rRight {
	display: inline-block;
 	text-align: right;
 	position: absolute;
	margin:  0px 10px 0px 20px;
}

 .container2 #rRightParking {
 	display: inline-block;
 	text-align: right;
 	position: absolute;
	margin:  0px 10px 0px 20px;
 }

#listBookmarks .list {
	margin-top: 0px;
	padding: 0px;
}


.bookmarkDetail h1 {
	text-align: center;
}

.containerDetail {
	width: 125px;
    position: relative;
	margin:50px auto 10px;
	height: 60px;
}

.containerDetail #left {
	display: inline-block;
	position: absolute;
	left: 0px;
	background-color: #DCDCDC;
	padding: 3px 20px;
	margin-right: 3px;
}

.containerDetail #right {
	display: inline-block;
	position: absolute;
	right: 0px;
	background-color: #DCDCDC;
	padding: 3px 20px;
	margin-left: 3px;
}

#btnItineraire {
	margin: 10px auto 20px;
	width: 90%;
}

.bookmarkDetail .card {
	width: 90%;
	margin: auto;
}

.buttonHeader {
	width: 100%;
	position: relative;	
}

.star {
	position: absolute;
	display: inline-block;
	right: 20px;
	margin-top: 5px;
}


ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
	color:#EF473A;

}
.icon-reverse-custom {
	font-size: 34px;
	color : #0078A8;
}


.listPerf {
	margin-top: 30px;
}


.graph-display {
	width:80%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

/*---------------------- login PAGE ------------------------------------*/


#bouton{
    padding: Opx;
}

a.current {
  background:red;
  color:white;
}

ion-content.scroll-content.ionic-scroll.has-header{
    bottom:44px;
}
.test{
    position:relative;
}