.station-red-marker, .station-grey-marker {
	width:50px;
	height: 100px;
	font-size: 28px;
	text-align: center;
	background: #EF473A;
	border-radius: 100px 100px 0 100px;
	color:#fff;
	line-height: 34px;
}


/*----------------------FAVORIS TAB ------------------------------------*/
.container, .container2 {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px -10px 0px;
    position: relative;
	height: 40px;
}

.container #left {
	display: inline-block;
	position: absolute;
	left: 50px;
	height: 30px;
	width: 50%;
}
.container2 #left {
	display: inline-block;
	position: absolute;
	left: 0px;
	height: 30px;
}

.container #right {
	display: inline-block;
	position: absolute;
	right: 15px;
	width: 30%;
}

.container2 #right {
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 30%;
}

.container #rLeft {
	display: inline-block;
	text-align: left;
	margin: 0px 10px 0px 0px;
}

.container2 #rLeftBike {
	display: inline-block;
	text-align: left;
	margin: 0px 10px 0px 0px;
}

.container #rRight {
	display: inline-block;
 	text-align: right;
 	position: absolute;
	margin:  0px 10px 0px 20px;
}

 .container2 #rRightParking {
 	display: inline-block;
 	text-align: right;
 	position: absolute;
	margin:  0px 10px 0px 20px;
 }

#listBookmarks .list {
	margin-top: 0px;
	padding: 0px;
}


.bookmarkDetail h1 {
	text-align: center;
}

.containerDetail {
	width: 125px;
    position: relative;
	margin:50px auto 10px;
	height: 60px;
}

.containerDetail #left {
	display: inline-block;
	position: absolute;
	left: 0px;
	background-color: #DCDCDC;
	padding: 3px 20px;
	margin-right: 3px;
}

.containerDetail #right {
	display: inline-block;
	position: absolute;
	right: 0px;
	background-color: #DCDCDC;
	padding: 3px 20px;
	margin-left: 3px;
}

#btnItineraire {
	margin: 10px auto 20px;
	width: 90%;
}

.bookmarkDetail .card {
	width: 90%;
	margin: auto;
}

/*--------------------------------------------------------------*/

/*------------------------- ACCUEIL TAB-------------------------*/

.station-red-marker {
	background: #EF473A;
}

.station-grey-marker {
	background: #999;
}

.av-bikes-div, .av-stands-div {
	font-size: 13px;
	background: #666;
	display: inline-block;
	padding:0 0 0 5px;
	color:#fff;
	width: 50%;
}

.av-bikes-div {
	background: #EF473A;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
	color:#EF473A;

}
.icon-reverse-custom {
	font-size: 64px;
	color : #0078A8;
}



